@font-face {
  font-family: 'GilroyLight';
  src: url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Teko';
  font-weight: 400;
  background: #fbfbfb;
  color: #333;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 160px;
}

.game__container {
  margin: 0 auto;
  width: 543px;
}

.text {
  font-size: 50px;
}

.footer {
  font-family: 'GilroyLight';
  font-size: 16px;
  text-align: center;
  display: block;
}

.game__container-messages,
.game__container-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.game__container-tries {
  display: flex;
  margin-bottom: 35px;
}

.input {
  border: 0;
  background: none;
  width: 460px;
  border-bottom: 2px solid #333;
  font-family: 'Teko';
  font-size: 48px;
  height: 60px;
  margin-bottom: 20px;
}

.input:focus {
  outline: none;
  background: none;
}

.letter {
  font-weight: 700;
  font-size: 90px;
}

.tries__container {
  margin-left: 25px;
}

.heart {
  margin-top: 10px;
}

.btn {
  border: 3px solid #ff6767;
  color: #ff6767;
  font-size: 48px;
  font-family: 'Teko';
  background: #fbfbfb;
  width: 258px;
  margin: 0 auto;
  display: block;
  transition: 0.5s ease;
  margin-bottom: 80%;
}

.btn:hover {
  cursor: pointer;
  background: #ff6767;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.retry-btn {
  color: #fff;
  border: 3px solid #fff;
  background: none;
  width: 284px;
  z-index: -1;
  margin: 0 auto;
  margin-bottom: 80%;
  display: none;
}

.retry-btn:hover {
  background: #fff;
  color: #ff6767;
}

.retry-btn:focus {
  outline: none;
}

.message {
  width: 800px;
  height: 373px;
  top: 25%;
  left: 33%;
  background: #fff;
  display: block;
  position: absolute;
  padding: 30px;
  transition: all 0.5s;
  z-index: 101;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 3%;
}

.closeBtn:focus {
  outline: none;
}

.message__text {
  font-size: 21px;
  font-family: 'GilroyRegular';
  width: 95%;
  margin-top: 70px;
}

.circle {
  display: block;
  height: 100px;
  width: 100px;
  background: #fffb9b;
  border-radius: 100%;
  position: absolute;
  transition: all 1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  opacity: 0;
}

.circle-img {
  position: absolute;
}

#left-top-corner {
  top: -20%;
  left: -5%;
}

#left-bottom-corner {
  bottom: 5%;
  left: 5%;
  width: 270px;
}

#right-top-corner {
  right: 20%;
  top: 10%;
  width: 100px;
}

#right-bottom-corner {
  bottom: -20%;
  right: 20%;
}

#circle-left-top {
  width: 68px;
  height: 68px;
  left: 25%;
  top: 15%;
}

#circle-left-bottom {
  width: 270px;
  height: 270px;
  bottom: 6%;
  left: 6%;
  z-index: 1;
}

#circle-right-top {
  right: 19.5%;
  top: 9%;
}

#circle-right-bottom {
  bottom: 35%;
  right: 15%;
  width: 140px;
  height: 140px;
}

@media screen and (max-width: 1600px) {
  #circle-left-top {
    left: 15%;
  }

  #circle-right-top {
    right: 15%;
  }

  #right-top-corner {
    right: 15.5%;
  }

  #circle-right-bottom {
    right: 10%;
  }

  .message {
    top: 20%;
    left: 24%;
  }
}

@media screen and (max-width: 1190px) {
  #circle-left-top {
    left: 10%;
  }

  #circle-right-top {
    right: 5%;
  }

  #right-top-corner {
    right: 5.5%;
  }

  #circle-right-bottom {
    right: 0%;
  }

  .message {
    width: 70%;
    left: 14%;
  }

  .btn {
    margin-bottom: 30%;
  }

  #circle-left-bottom {
    left: 3%;
    bottom: 0;
  }

  #left-bottom-corner {
    left: 2%;
    bottom: 2%;
  }

  #right-bottom-corner {
    display: none;
  }

  h1 {
    margin-bottom: 15%;
  }

  #left-top-corner {
    top: -30%;
    left: -15%;
  }
}

@media screen and (max-width: 960px) {
  .circle {
    display: none;
  }

  .circle-img {
    display: none;
  }

  .message__text {
    margin-top: 60px;
  }
}

@media screen and (max-width: 500px) {
  .game__container {
    width: 90%;
  }

  .game__container-messages {
    flex-direction: column;
    /* text-align: center; */
  }

  .game__container-messages,
  .game__container-inputs {
    margin: 0;
  }

  .game__container-tries {
    margin-bottom: 20px;
  }

  .btn {
    margin-bottom: 20%;
  }

  .input {
    width: 75%;
    font-size: 45px;
  }

  .tries__container {
    margin-left: 15px;
  }

  .game__container-tries {
    justify-content: space-evenly;
  }

  h1 {
    margin-top: 50px;
  }

  body {
    overflow: scroll;
  }

  .message {
    left: 5%;
    width: 73%;
    top: 0;
    height: 90%;
  }

  .footer {
    margin-bottom: 10%;
  }
}
